* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
  font-family: "CookieRun-Regular";
}
@font-face {
  font-family: "CookieRun-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GongGothicMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.container {
  height: 300vh;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  background-color: #fff;
  z-index: 100;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  /* gap: 100px; */
  background-color: #fff;
}
header ul li {
  display: flex;
  align-items: center;
  cursor: default;
  height: 100%;
  padding: 0 50px;
  transition: 0s;
}
.main_text {
  cursor: default;

  width: 100%;
  height: 100vh;
  font-family: "GongGothicMedium";
  font-size: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}
.con2 {
  height: 200vh;
  margin-top: 150px;
  opacity: 0;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.Introduce_myself {
  display: flex;
  gap: 90px;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #ccc;
}
.Introduce_myself .img-con {
  border: 5px solid black;
  border-radius: 20px;
  width: 400px;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.profile-img {
  height: 100%;
}

.me {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.me > h1 {
  font-size: 50px;
}
.me > h3 {
  font-size: 20px;
}
.education {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 10px;
  margin: 30px 0;
}
h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.moment {
  display: inline-block;
  width: 120px;
  margin-right: 10px;
}
.content:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon-con {
  display: flex;
  gap: 10px;
}
.icon > svg {
  width: 100px;
  height: 100px;
}
.stack {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.content:nth-child(3) {
  background-color: #ccc;
}
.gongback {
  height: 10vh;
}
.github {
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 50%;
}

/* js */

.main_text {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease;
}
.main_text.hidden {
  opacity: 0;
  transform: translateY(-50vh);
}

.con2 {
  opacity: 0;
  transform: translateY(50vh);
  transition: all 0.5s ease;
}
.con2.visible {
  opacity: 1;
  transform: translateY(0);
}

header {
  opacity: 0;
  transition: opacity 0.5s ease;
}
header.visible {
  opacity: 1;
}
